@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html{
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Shippori Antique B1', sans-serif;
    text-align: justify;
    background-color: #fffffa;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
} 

#entrada {
    padding-top: 50px;
    width: 30%;
}
#titulo_entrada {
    text-align: center;
    font-weight: bold;
    border-bottom: 3px #cc0000 solid; 
    padding-bottom: 10px;
}
.txt_entrada {
    text-align: center;
    font-size: 18px;
}

#sessoes {
    border: 6px #363636 solid;
    box-shadow: 0 0 1em #cc0000;
    border-radius: 10%;
    padding: 50px;
}

#botao1 {
    transition: 0.5s;
}
    
#botao1:hover {
    transform: scale(1.1);
}

#botao2 {
    transition: 0.5s;
}
    
#botao2:hover {
    transform: scale(1.1);
}

#botao3 {
    transition: 0.5s;
}
    
#botao3:hover {
    transform: scale(1.1);
}

#botao4 {
    transition: 0.5s;
}
    
#botao4:hover {
    transform: scale(1.1);
}

#botao5 {
    transition: 0.5s;
}
    
#botao5:hover {
    transform: scale(1.1);
}

#botao6 {
    transition: 0.5s;
}
    
#botao6:hover {
    transform: scale(1.1);
}

#botao7 {
    transition: 0.5s;
}
    
#botao7:hover {
    transform: scale(1.1);
}

#botao8 {
    transition: 0.5s;
}
    
#botao8:hover {
    transform: scale(1.1);
}

/* Rodapé */
.img_footer {
    width: 50px;
    height: 50px;
}

.img_LogoFooter {
    width: 250px;
    height: 250px;
}

#myFooter {
    background-color: #cc0000;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #d83131;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #e0e0e0;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #e0e0e0;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}


@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
};
